@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

.padding-r {
  @apply sm:pr-16 pr-8
}
.padding-b {
  @apply sm:pb-24 pb-12
}
.customInput{
  @apply  mb-4 mt-4 w-full p-2 border border-gray-300 rounded
}
.centerForm{
  @apply min-h-full items-center justify-center grid place-items-center
}

